*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}


.container-inferior{
    margin-top: 20px;
    text-align: center;
    color: white;
}

.linear{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.295),rgba(0, 0, 0, 0.418),rgba(0, 0, 0, 0.507));
}


.container{
    min-height: 100vh;
    width: 100%;
    background-image: url(/img/danika-perkinson-3uytXdmaf4s-unsplash.jpg);
    background-repeat:no-repeat ;
    background-size: 100% 100%;
    background-position:100% 100%;
}

.form{
    margin-right: 50px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    float: right;
    max-width: 500px;
    width: 40%; 
    background-color: rgb(255, 255, 255);

}

.form-align{
    text-align: justify;
    display: inline-block;
    margin-top: 0 auto;
    width: 90%;
    margin-top: 50px;
}

.form-align h1{
    margin-bottom: 10px;
}

.form-align a{
    color: rgb(43, 46, 226);
    text-decoration: none;    
}

.input{
    margin-top: 50px;
}
.input p{
    color: gray;
    font-size: 13px;
}

.input p:nth-of-type(2){
    margin-top: 30px;

}


.input input[type=text], input[type=password]{
    border-bottom: 2px solid rgb(68, 59, 196) !important; 
    padding: 3px;
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
}

.input input[type=submit]{
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(68, 59, 196);
    margin-top: 20px;
    width:80px;
    font-size: 12px;
}

.accounts{
    display: block;
    margin-top:50px;
    text-align: center;
}

.accounts a{
    font-weight: 500;
    color: black;
    border-radius: 20px;
    padding: 15px;
    border: 1px solid rgb(211, 203, 203);
    width:  300px;
    display: inline-block;
    background-color: rgb(250, 255, 255);
    margin-bottom: 30px;
}

.accounts a:nth-of-type(1){
    background-image: url(/img/search.png);
    background-repeat:no-repeat ;
    background-size:20px;
    background-position: 13%;
}

.accounts a:nth-of-type(2){
    border: none;
    color: white;
    background-image: url(/img/facebook.png);
    background-repeat:no-repeat ;
    background-size:20px;
    background-position: 13%;
    background-color: #3F51B5 ;
}


@media screen and (max-width: 1280px){
    .container{
        text-align: center;
        width: 100%;
    }

    .form{
        display: inline-block;
        border-radius: 5px;
        text-align: center;
        margin-right: 0;
        margin-top: 6px;
        float: none;
        width: 500px; 
        background-color: rgb(255, 255, 255);
    
    }

    .accounts a:nth-of-type(1){
    margin-top: 30px;
    background-image: url(/img/search.png);
    background-repeat:no-repeat ;
    background-size:20px;
}

.accounts a:nth-of-type(2){
    border: none;
    color: white;
    background-image: url(/img/facebook.png);
    background-repeat:no-repeat ;
    background-size:20px;
    background-color: rgb(44, 44, 202);
}
    
}

@media screen and (max-width: 768px){
       
    .container{
        text-align: center;
        width: 100%;
    }


    .form{
        margin-top:100px;
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-right: 0;
        float: none;
    }

.center{
    text-align: center;
}

    .accounts{
        display: inline-block;
    }
    
    .accounts a{
        font-weight: 500;
        color: black;
        border-radius: 20px;
        padding: 15px;
        border: 1px solid rgb(211, 203, 203);
        width:  400px;
        display: block;
        background-color: rgb(250, 255, 255);
        margin-bottom: 30px;
    }


    .container-inferior{
        margin-top: 10px;
        text-align: center;
        height: 54px;
    }

   
}


@media  screen and (max-width: 550px){

    .linear{
        background: none;
    }

    .container-inferior{
        display: inline-block;
        color: black;
        height: auto;
    }


    .container{
        background-color: rgb(255, 255, 255);
        background-image: none;
    }

    .form{
        border-radius: 0;
        margin-top:40px;
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-right: 0;
        float: none;
    }
    .accounts a{
        font-weight: 500;
        color: black;
        border-radius: 20px;
        padding: 15px;
        border: 1px solid rgb(211, 203, 203);
        width:  300px;
        display: block;
        background-color: rgb(250, 255, 255);
        margin-bottom: 30px;
    }
    
}

/* @media screen and (max-height: 2024px){
    .container{
        height: 100%;
    }

    .form{
        margin-top: 50%;
    }
} */
